.campo-select{
    font-family: 'Montserrat', sans-serif;
    margin: 24px 0;
}
.campo-select label{
   font-size: 1.125rem;
   font-weight: 600;
   color: #212121;
   display: block;
   margin-bottom: 8px;
}
.campo-select select{
   font-size: 1rem;
   font-weight: 400;
   color: #A4A4A4;
   background: #FFF;
   box-shadow: 10px 10px 30px 0px rgba(0, 0, 0, 0.06);
   width: 100%;
   padding: 30px 20px;
   outline-color: #6278F7;
   border: none;
}